<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>API Documentation</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>API Documentation</h1>

        <h2>Images</h2>
        <p>
            <table class="striped">
                <thead>
                    <tr>
                        <th>Method</th>
                        <th>URL</th>
                        <th>Params</th>
                        <th>Data Params</th>
                        <th>Success Response Code</th>
                        <th>Success Response Data</th>
                        <th>Data Not Found Code</th>
                        <th>Error Response Code</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>GET</td>
                        <td>/images</td>
                        <td>None</td>
                        <td>None</td>
                        <td>200</td>
                        <td>{}</td>
                        <td>204</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>GET</td>
                        <td>/images/:id</td>
                        <td>id=[int]</td>
                        <td>None</td>
                        <td>200</td>
                        <td>{}</td>
                        <td>204</td>
                        <td>500</td>
                    </tr>
                </tbody>
            </table>
        </p>
    </div>
</body>
</html>